<div class="flex justify-evenly flex-wrap my-36">
  <div *ngFor="let p of produtos">
    <div class="w-96 shadow-lg shadow-black">
      <div class="flex justify-center py-5 text-xl font-semibold">
        <div>
          <img
            class="w-12 h-12 rounded-full"
            src="{{ p.foto }}"
            alt="Icone do prato"
          />
        </div>
        <div class="flex flex-col pl-10">
          <div>{{ p.nome }}</div>
          <div>Id:{{ p.id }}</div>
        </div>
      </div>
      <img src="{{ p.foto }}" alt="Photo of a Shiba Inu" />
      <div class="text-xl px-5 py-2">
        <p>
          {{ p.ingredientes }}
        </p>
      </div>
      <div class="flex justify-around py-5">
        <button class="border-2 border-black py-2 px-5 bg-yellow-400" routerLink="editar/{{p.id}}">EDITAR</button>
        <button class="border-2 border-black py-2 px-5 bg-red-400" routerLink="excluir/{{p.id}}">EXCLUIR</button>
      </div>
    </div>
  </div>
</div>
